// Experimental color scheme:
//$primary-color: #121619;
//$primary-shade: #222A2F;
//$secondary-color: #05668D;
//$text-color: #F1A208;

//Original color scheme:
$primary-color: #F1FFFE;
$primary-shade: #D6FFFD;
$secondary-color: #05668D;
$text-color: #000000;

$title-font: Monaco;
$button-font: Copperplate;
$p-font: Monaco;

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color;

}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  background-color: $primary-shade;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  border-bottom: 3px solid #000000;
}

/* <a> TAG DESIGN */
.nav-button {
  border: 2px solid $secondary-color;
  padding: 10px;
  margin: 4px 0;
  text-align: center;
}
//.nav-button:hover {
//  background-color: #21ACF6;
//}
.project-button {
  border: 2px solid $secondary-color;
  padding: 2px;
}
a {
  color: $text-color;
  background-color: $primary-color;
  //border: 2px solid $secondary-color;
  border-radius: 10px;
  font-family: $button-font;
}
a:hover {
  background-color: #21ACF6;
}

/* GENERAL TEXT STYLISATION */
h1, h2 {
  font-family: $title-font;
}
h1 {
  text-decoration: underline;
}
p {
  font-family: $p-font;
}
h1, h2, p {
  color: $text-color;
}


/* INTRODUCTION SECTION */
.intro {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: 100px auto 0 auto;
}
.intro h2 {
  border-right: 4px solid $primary-color;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  margin-top: 50px;
  animation: typing 2s steps(40, end), blink-caret 1s step-end infinite;
}

/* TYPING EFFECT */
@keyframes typing {
  from { width: 0 }
  to { width: 180px }
}

/* TYPEWRITER CURSOR EFFECT */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #21ACF6; }
}

/* PORTFOLIO SECTION */
.portfolio {
  width: 1100px;
  margin: 80px auto;
  padding: 2px;
}
.portfolio h1 {
  text-align: center;
  margin-bottom: 50px;
}
.projectImage {
  width: 500px;
  height: 300px;
  border: 3px solid #000000;
  border-radius: 100px;
  margin-right: 100px;
}
.links {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.project {
  display: flex;
}
.projectPlusLinks {
  margin-bottom: 120px;
}
summary p {
  margin-left: 15px;
}

/* ABOUT ME SECTION */
.about-me {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: 85px auto;
}
.about-story {
  width: 100%;
  padding: 10px;
}
.about-interests {
  width: 55%;
  padding: 10px;
}
.about-interests p {
  margin-right: 10px;
}
.about-aspirations {
  width: 45%;
  padding: 10px;
}

/* SOCIAL LINKS */
.socialLinks {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  bottom: 50%;
  right: 0;
}
.socialLinks aside {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 4px 0;
}

/* SOCIAL MEDIA ICONS */
.fab {
  background-color: #3B5998;
  color: #FFFFFF;
  height: 32px;
  width: 32px;
  border-radius: 5px;
  padding: 7px 0 0 9px;
}
.fab:hover {
  border: 2px solid #ED2116;
  padding: 5px 0 0 7px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 950px) {
  main {
    flex-direction: column;
    width: 500px;
  }
  .about-title, .about-aspirations {
    width: 100%;
  }
  .about-story {
    width: 100%;
  }
  .about-interests {
    width: 100%;
  }

  summary {
    flex-direction: column;
    width: 500px;
  }
  #portfolio {
    text-align: center;
  }
  .project {
    flex-wrap: wrap;
    justify-content: center;
  }
  .project p {
    margin: 10px 2px 2px 2px;
  }
}